<section class="about_section">
    <div class="container">
        <div class="row faq-title">
            <div class="col-md-12 text-center">
                <h2 class="my-3">Notre equipe</h2>Umanitym
                <p>De la graine de developpeur, un millésime particulièrement savoureux</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 py-5">
                <div class="col-1-of-3">
                    <div class="card-auth">
                        <div class="card__side card__side--front-1">
                            <div class="card__title card__title--1">
                                <h4 class="card__heading">Robin</h4>
                            </div>

                            <div class="card__details">
                                <img src="images/iconeGoku-min.png" alt="Le plein charisme de Goku... En icones !"/>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-1">
                            <div class="card__cta">
                                <div class="card__team">
                                    <img src="images/brooks-min.png" alt="Brooks qui vous salue ! C'est le personnage préféré de Robin"/>
                                    <p class="card__description my-5">Yo c'est Robin ! </p>
                                    <p class="card__interest">J'ai 21 ans je suis diplômé en menuiserie CAP et BEP et un équivalent BAC PRO en entreprise. J'ai pu travailler 2 ans dans ce domaine pour ensuite me diriger dans la vente mais toujours dans le domaine de la menuiserie. Par la suite j'ai pu découvrir par le biais d'un ami le métier de développeur qui a attisé ma curiosité. À partir de ce moment la je me suis decouvert une vraie passion du dev, de la recherche d'apprendre à comprendre de decoder de traduire.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-5">
                <div class="col-1-of-3">
                    <div class="card-auth">
                        <div class="card__side card__side--front-2">
                            <div class="card__title card__title--2">
                                <h4 class="card__heading">Paul</h4>
                            </div>

                            <div class="card__details">
                                <img src="images/sharingan-50-min.png" alt="Le plein charisme du clan uchiwa... En icones !"/>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-2">
                            <div class="card__cta">
                                <div class="card__team">
                                    <img src="images/itachi-min.png" alt="Itachi menaçant ! C'est le personnage préféré de Paul"/>
                                    <p class="card__description my-5"> Salut c'est Paul ! </p>
                                    <p class="card__interest"> J'ai 26 ans, je suis né à Vendôme, j'habite Le Mans depuis 7 ans. Dans le métier de la grande distribution pendant quelques années, j'ai arrêté car malheureusement cela ne me passionnait pas. J'ai décidé de me réorienter en tant que Développeur web et web mobile. Je suis curieux et intéressé par pas mal de choses qui touchent à l'informatique</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-5">
                <div class="col-1-of-3">
                    <div class="card-auth">
                        <div class="card__side card__side--front-3">
                            <div class="card__title card__title--3">
                                <h4 class="card__heading">Dono</h4>
                            </div>

                            <div class="card__details">
                                <img src="images/iconeGojo-min.png" alt="Le plein charisme de Gojo... En icones !"/>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-3">
                            <div class="card__cta">
                                <div class="card__team">
                                    <img src="images/gojo-min.png" alt="Le plein charisme de Gojo ! C'est le personnage préféré de Dono"/>
                                    <p class="card__description my-5">Salut c'est Dono !</p>
                                    <p class="card__interest"> J'ai 25 ans et je suis un grand passionné d'informatique. J'ai donc souhaité commencer un parcours de developpement web. Comment je me suis retrouvé dans ce projet ? Ah ! Et bien on m'a proposé une collaboration pour un site sur les mangas... Vous connaissez la suite !</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>