<section class="faq" id="faq">
  <div class="container">
    <div class="row faq-title">
      <div class="col-md-12 text-center">
        <h2 class="my-3">Foires aux questions </h2>
        <p>Nous le savons, vous avez des questions hehe. Alors voilà peut-être de quoi eviter le remplissage de notre email de support ! Bonne lecture y'all !</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <div class="accordion my-5" id="faqCard">
          <div class="accordion-item my-3">
            <h2 class="accordion-header" id="headingOne">
              <button id="question" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Question 1
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Que trouve-t-on sur Manga pouet ?</strong> Sur Manga Pouet vous pourrez trouver le top 10 des mangas les plus vue et populaire du moment
                Il y'a un top 10 manga et un top 10 animé.
              </div>
            </div>
          </div>
          <div class="accordion-item my-3">
            <h2 class="accordion-header" id="headingTwo">
              <button id="question2" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                Question 2
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Manga pouet dispose-til des droits pour exploiter les différentes licences.</strong> Manga pouet n'exploite rien, entre autre nous affichons uniquement des données relatives aux œuvres,
                Manga pouet ne possède pas de données relatives à ces éditeurs.
                D'ailleurs les données que nous renvoyons pour afficher les top sont libres de droits.
              </div>
            </div>
          </div>
          <div class="accordion-item my-3">
            <h2 class="accordion-header" id="headingThree">
              <button id="question3" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                Question 3
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body my-3">
                <strong>pas du tout d'accord avec le top de ce mois-ci , Fairy Tail en premier ??</strong>On a hésité a le modifier a la main tellement
              c'est dur a encaisser. C'est rassurant d'avoir one piece naruto et bleach a la suite quand meme , le top de ce mois-ci envoie du lourd meme le 10eme sword art online envoie du lourd.
              </div>
            </div>
          </div>

          <div class="accordion-item my-3">
            <h2 class="accordion-header" id="headingFour">
              <button id="question4" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                aria-expanded="false" aria-controls="collapseFour">
                Question 4
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>oooh le top de ce mois-ci dinguerie , les 10 anime sont juste ouf moi j'arrive pas a choisir !!! </strong> Ouiiii !!, voir Bleach en premier est un reel kiff, les gens ont bon gout
                c'est temps-ci.
              </div>
            </div>
          </div>

          <div class="accordion-item my-3">
            <h2 class="accordion-header" id="headingFive">
              <button id="question5" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                aria-expanded="false" aria-controls="collapseFive">
                Question 5
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>pas du tout d'accord avec le top de ce mois-ci , Fairy Tail en premier ??</strong>On a hésité a le modifier a la main tellement
              c'est dur a encaisser. C'est rassurant d'avoir one piece naruto et bleach a la suite quand meme , le top de ce mois-ci envoie du lourd meme le 10eme sword art online envoie du lourd.
              </div>
            </div>
          </div>

          <div class="accordion-item my-3">
            <h2 class="accordion-header" id="headingSix">
              <button id="question6" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                aria-expanded="false" aria-controls="collapseSix">
                Question 6
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>pas du tout d'accord avec le top de ce mois-ci , Fairy Tail en premier ??</strong>On a hésité a le modifier a la main tellement
              c'est dur a encaisser. C'est rassurant d'avoir one piece naruto et bleach a la suite quand meme , le top de ce mois-ci envoie du lourd meme le 10eme sword art online envoie du lourd.
              </div>
            </div>
          </div>

          <div class="accordion-item my-3">
            <h2 class="accordion-header" id="headingSeven">
              <button id="question7" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                aria-expanded="false" aria-controls="collapseSeven">
                Question 7
              </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>pas du tout d'accord avec le top de ce mois-ci , Fairy Tail en premier ??</strong>On a hésité a le modifier a la main tellement
              c'est dur a encaisser. C'est rassurant d'avoir one piece naruto et bleach a la suite quand meme , le top de ce mois-ci envoie du lourd meme le 10eme sword art online envoie du lourd.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>