<!--section fonctionnalités de Manga Pouet-->
<section id="features" class="features content-section">
    <div class="container">
        <div class="row">
                    
                    {{> fonctio }} 
            </div>
        </div>
    </div>
</section>