<footer>
    <div id="footer" class="container py-3">
        <div class="row py-3">
            
            <div  class="col-md-4">
                <h5 class="text-white" id="footer-a-propos">A propos</h5>
                <ul class="nav flex-column my-3">
                    <li class="nav-item mb-2"><a href="encore-une-page" id="sommes-nous" class="nav-link p-0 ">Qui sommes-nous ?</a></li>
                    <li class="nav-item mb-2"><a href="#faq" class="nav-link p-0">FAQ</a>
                    </li>
                </ul>
            </div>
            <div  class="col-md-4">
                <h5 class="text-white" id="footer-classements">Les classements</h5>
                <ul class="nav flex-column my-3">
                    <li class="nav-item mb-2"><a href="top10-manga"  class="nav-link p-0 ">TOP 10 Manga</a></li>
                    <li class="nav-item mb-2"><a href="top10-anime" class="nav-link p-0 ">TOP 10 Anime</a></li>
                    <li class="nav-item mb-2"><a href="vote" class="nav-link p-0 ">Votez vous aussi !</a></li>
                </ul>
            </div>
            <div  class="col-md-4">
                <h5 class="text-white" id="footer-coup-de-main">Un coup de main ? </h5>
                <ul class="nav flex-column my-3">
                    <li class="nav-item mb-2"><a href="#une-autre-page" id="trouvez" class="nav-link p-0 ">Nous vous trouvons votre prochaine pépite ! </a></li>
                </ul>
            </div>
        </div>
        <div class="row py-1">
            <div class="col-md-12">
                <p class="text-white">&copy; 2022 Manga Pouet, Inc. Tout droits reservés.</p>
            </div>
        </div>
    </div>
</footer>