 <section class="hero-section">
        <div class="container">
            <div class="row align-items-center hero-title">
                <div class="col-md-6">
                    <!-- Première section contenu -->
                    <div class="text-center text-lg-start hero-text">
                        <h1>Vivez au rythme du Pays  du soleil levant</h1>
                        <p>Sur Manga Pouet, retrouvez les dernières tendances et sorties anime et manga. A courts d'idée ? Pas de soucis nous vous aidons à trouvez votre prochaine pépite !</p>
                        <a class="btn btn-hero" href="une-autre-page">inspirez moi</a>
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <img class="" src="images/naruto-r.png" alt="Naruto Uzumaki vous souhaite la bienvenue"/>
                    </div>
                </div>
            </div>
        </div>
</section>