<header>
    <nav id="nav" class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" id="manga-pouet" href="/">Manga Pouet</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a id="classements" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Les classements
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" id="nav-manga" href="top10-manga">TOP 10 manga</a></li>
                                <li><a class="dropdown-item" id="nav-anime" href="top10-anime">TOP 10 anime</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" id="nav-vote" href="vote">Je veux voter !</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a id="coup-de-main" class="nav-link {{#if autre}}active {{/if}}" href="une-autre-page">Un coup de main ?</a>
                        </li>
                    </ul>
                </div>
            </div>
    </nav>
</header>
 