<aside class="presentation">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="h2 my-3 bg-ds">
                    <p>A bientôt la team sur Manga Pouet !!</p>
                </div>
            </div>
        </div>
    </div>
</aside>

