<div class="container prefooter">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="h2 my-4">
                    
            </div>
        </div>
    </div>
    <div class="row seeyou-image">
        <div class="col-md-12 d-flex justify-content-center">
            <img src="images/luffy-rb.png" alt="L'équipage de Luffy vous souhaite bon voyage"/>   
        </div> 
    </div>
</div>