<section class="under" >
    <div class="container" style="1px solid red">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="container">
                    <h2 class="">Coming soon !</h2>
                    <img class="my-5" src="images/under.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>